<ion-view view-title="Player">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="shareAnywhere()">
      <i class='icon ion-share'></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-audio-track track="myTrack">
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <div class='list card'>
            <div class='item'>
              <h2>{{track.episode}}</h2>
              <p>{{track.show}}</p>
            </div>
            <div class="item item-image">
              <img src="{{track.art}}">
            </div>
            <div class="item">
              <ion-audio-progress-bar display-time></ion-audio-progress-bar>
            </div>
            <ion-audio-controls>
              <div class="item tabs tabs-secondary">
                <a class='tab-item button button-icon button-large' ion-audio-play></a>
                <ion-spinner icon="ripple" class='spinner'></ion-spinner>
                <a class="tab-item">
                  <button class="button button-clear button-dark" ng-click="addBookmark()">
                    <i class="icon ion-bookmark"></i>
                  </button>
                </a>
              </div>
            </ion-audio-controls>
          </div>
        </ion-slide>
        <ion-slide>
          <div class='list card'>
            <div class='item'>
              <h2>Description</h2>
            </div>
            <div class="item item-body">
              <p ng-bind-html="track.description"></p>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </ion-audio-track>
  </ion-content>
</ion-view>
