/* Empty. Add your own CSS if you like */

/*headers*/

h4 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*radio button*/

input[type="radio"]:checked {
  display: none;
}


/*icons*/

div.col {
  text-align: center;
}

div.col.col-bottom {
  padding: 0;
}

.col.pos1,
.col.pos2,
.col.pos3,
.col.pos4,
.col.pos5,
.col.pos6,
.col.pos7,
.col.pos8,
.col.pos9 {
  text-align: center;
  margin: 3px;
  border-radius: 20%;
}

.col.pos1 {
  background: #e5f2e5;
  border: solid #e5f2e5;
}

.col.pos2 {
  background: #9999ff;
  border: solid #9999ff;
}

.col.pos3 {
  background: #9feff6;
  border: solid #9feff6;
}

.col.pos4 {
  background: #ffdb99;
  /*border: solid #ffdb99;*/
  border: solid yellow;
}

.col.pos5 {
  background: #cc99cc;
  border: solid #cc99cc;
}

.col.pos6 {
  background: #99cc99;
  border: solid #99cc99;
}

.col.pos7 {
  border: solid #999999;
}

.col.pos8 {
  /*background: #edf69f;*/
  background: white;
  border: solid #edf69f;
}

.col.pos9 {
  border: solid #e09999;
}


/*different sized icons*/

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
  padding: 0;
}


/*white icons*/

.material-icons.white {
  color: white;
}


/*colored icons*/

.material-icons.white {
  color: #white;
}

.material-icons.black {
  color: black;
}

.material-icons.red {
  color: #e09999;
}


/*rows background*/

div.row {
  background: #004080;
}


/*duartion bar*/
.description {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;

    text-overflow: ellipsis;
    width: 100%;
}

.item {
  padding-bottom: 8px;
}

.custom-button {
  border-style: none;
}

img {
  height: 265px;
  width: 265px !important;
}

.item.item-image {
  padding-bottom: 0;
}

.spinner svg {
  stroke: red;
  display: inline-block;
  vertical-align: middle;
}
