/* Empty. Add your own CSS if you like */


/*homepage*/

/******************headers******************/

h4 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/******************icons******************/

div.col {
  text-align: center;
}
div.col.col-bottom {
  padding: 0;
}
.col.pos1,
.col.pos2,
.col.pos3,
.col.pos4,
.col.pos5,
.col.pos6,
.col.pos7,
.col.pos8,
.col.pos9 {
  text-align: center;
  margin: 3px;
  border-radius: 15%;
  background: #60B2E5;
}


/******************genre selection******************/

.row input {
  margin: 0;
  padding: 0;
  visibility: hidden;
}

input[type=radio]:checked +.genre.material-icons.white {
  color: black;
}

.genre {
  background: #60B2E5;
}


/******************different sized icons******************/

.material-icons.md-36 {
  font-size: 36px;
  padding: 0;
}
/*.material-icons.md-48 {
  font-size: 48px;
  padding: 0;
}*/

/******************white icons******************/

.material-icons.white {
  color: white;
}


/******************font******************/

.col.col-bottom {
  color: white;
}

.input-label {
  padding: 0;
  width: 150px;
}


/******************search/feeling lucky button******************/

.button.btnfeeling {
  float: right;
}
.button.btnsearch {
  float: left;
}
.button.btnfeeling, .button.btnsearch {
  margin: 5px !important;
  border-radius: 8px !important;
}

/*results page*/


/******************podcast description******************/

.description {
  line-height: 1em;
  height: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.item {
  padding-bottom: 8px;
}

/*player page*/


/******************podcast image******************/

img {
  height: 265px;
  width: 265px !important;
}
.item.item-image {
  padding-bottom: 0;
}

/******************play button*****************/

.custom-button {
  border-style: none;
}

/******************loading spinner******************/

.spinner svg {
  stroke: red;
  display: inline-block;
  vertical-align: middle;
}
.popup-body {
  text-align: center;
}
